:root {
    --banner: var(--monkey)
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    border-spacing: 3px
}

td {
    width: 200px;
    height: 150px;
    background-color: var(--banner);
}

.button {
    width: 70px;
    height: 28px;
    font-size: 130%
}

#buttons .container {
    justify-content: left;
}

.mdhrCrest {
    background-color: white
}

.mdhrOther {
    background-color: black;
}

.cuphead1 {
    background-color: crimson;
}

.mugman {
    background-color: dodgerblue;
}

.diceLeft {
    background-color: limegreen;
}

.diceRight {
    background-color: var(--cuphead);
}